body{
    background: #F0EDE3;
    padding : 0 
}
  @font-face{
    font-family : 'a Atmospheric';
    src : url('./Fonts/aAtmospheric.ttf');
  }
  
.atmospheric{
    font-family : 'a Atmospheric'
  }

  